body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    /* height: 20px */
}
.content {
    width: 800px;
}
.shapeForms {
display: flex;
justify-content: center;
margin: 5px;
padding: 5px;
}

.RectForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px black solid;
    padding: 5px;
    width: 250px;
    /* flex-direction: column; */
}

.RectForm input {
    /* padding: 5px; */
    margin: 5px;
}

.CircleForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px black solid;
    width: 250px;
    padding: 5px;

    /* flex-direction: column; */
}

.CircleForm input {
    /* padding: 5px; */
    margin: 5px;
}

#myCanvas {
    /* width: 80%; */
    text-align: center;
}