body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    /* height: 20px */
}
.shapeForms {
display: flex;
justify-content: space-around;
align-items: stretch;
margin: 5px;
padding: 5px;
}

.RectForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px black solid;
    padding: 5px;
    width: 250px;
    /* flex-direction: column; */
}

.RectForm input {
    /* padding: 5px; */
    margin: 5px;
}

.CircleForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px black solid;
    width: 250px;
    padding: 5px;

    /* flex-direction: column; */
}

.CircleForm input {
    /* padding: 5px; */
    margin: 5px;
}

#myCanvas {
    /* width: 80%; */
    text-align: center;
    /* text-decoration:  */
}
.buttons {
    display: inline-grid;
    justify-content: center;
}

.buttonSave {
    padding: 0.2em 1.45em;
    margin: 1em;
    box-sizing: border-box;
    /* font-weight: 400; */
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    background-color: #CCCCCC;
}



.button9 {
    padding: 0.2em 1.45em;
    margin: 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    background-color: #CCCCCC;
}